<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trash Talk Generator</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Trash Talk Generator
    </a>
  </nav>
  <main>
    {{{body}}}
  </main>
  <script scr='/javascripts/bootstrap.js'></script>
</body>

</html>